<div class="col-md-4">
    <div class="card card-stats">
            <div class="card-header" data-background-color="purple">
                    <i class="material-icons">face</i>
                </div>
        <div class="card-content">
            <p class="category">Members</p>
            <h3 class="title">{{members.length}}</h3>
                <div class="form-group">
                    <label class="control-label">Member Name</label>
                    <input type="text" class="form-control" #newMem>
            
                <a (click)="addMember(newMem.value)" class="btn btn-primary btn-round">Add Members</a>
               </div>
            <hr>
                <div class="tab-pane active" id="profile">
                    <table class="table">
                        <tbody>
                            <tr *ngFor="let member of members">
                                <td> <i class="material-icons">person_pin_circle</i></td>
                                <td class="text-left">{{member}}</td>
                                <td class="td-actions text-left">
                                    <button (click)="deleteMember(member)" type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-xs">
                                        <i class="material-icons">close</i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>


        </div>
    </div>
</div>
