
<div class="main-panel">
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header" data-background-color="purple">
                        <h4 class="title">{{tabletitle}}</h4>
                        <p class="category">Details of fare classess described in the system</p>
                    </div>
                    <div class="card-content table-responsive">
                        <table class="table">
                            <thead class="text-primary">
                                <th>Salary Slab</th>
                                <th>Fare Class</th>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="text-primary">Rs.10000-15000</td>
                                    <td>Class D</td>
                                </tr>
                                <tr>
                                    <td class="text-primary">Rs.15000-30000</td>
                                    <td>Class C</td>
                                </tr>
                                <tr>
                                    <td class="text-primary">Rs.30000-70000</td>
                                    <td>Class B</td>
                                </tr>
                                <tr>
                                    <td class="text-primary">Rs.70000-above</td>
                                    <td>Class A</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>